.feature{
    background: rgb(226,104,157);
    background: radial-gradient(circle, rgba(226,104,157,1) 0%, rgba(99,150,241,1) 100%);
    color:black;
}

  .features{
      align-items: center;
  }
  .feattext{
    margin-left: 40rem;
  }
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  header {
    margin-bottom: 30px;
  }
  
  .col-md-4 {
    margin-bottom: 30px;
  }
  
  .card {
    padding: 30px;
    border: solid 1px rgba(0, 0, 0, 0.08);
    cursor: pointer;
  }
  .card:hover {
    box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.08);
  }
  .card-title {
    margin-top: 20px;
  }
  .card-text {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
  }
  .card-text .fa {
    font-size: 26px;
  }
  .avatar {
    width: 140px;
    margin: auto;
  }
  .avatar img {
    border: solid 6px transparent;
    border-radius: 50%;
  }
  .card:hover .avatar img {
    border-color: rgb(99, 204, 131);
  }
  
  .btn {
    border-radius: 25px;
  }
  
  footer p {
    color: rgba(0, 0, 0, 0.6);
  }
  
  footer p a,
  footer p a:hover {
    color: rgb(99, 204, 131);
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1040px;
    }
  }
.features1{
    background: rgb(242,93,189);
    background: linear-gradient(90deg, rgba(242,93,189,0.8494748241093313) 18%, rgba(29,207,253,0.5329482134650736) 82%);
}  
.ab{
    background: rgb(242,93,189);
background: linear-gradient(90deg, rgba(242,93,189,0.8494748241093313) 18%, rgba(29,207,253,0.5329482134650736) 82%);
}
