@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body{
	font-family: Montserrat, sans-serif;
}
body {
    background-color: #f9f9fa
}

.padding {
    padding: 3rem !important
}

.user-card-full {
    overflow: hidden
}
.user-cards-full {
    overflow: hidden
}
.deletebutton{
    margin-top: 1rem;
    background-color: black;
    color: white;
}
.updatebutton{
    width: 10rem;
    height: 2rem;
    margin-top: -5rem;
/* margin-left: 8rem; */
text-align: center;
background-color: black;
    color: white;
}
.line{
    height: 3px;
    background-color: black;
    border: none;
    
}
.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px;
    margin-top: 5rem;
    width: 50rem;
    margin-left: 10rem;
}
.cards {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px;
    margin-top: 5rem;
    width: 50rem;
    background-color: white;
    margin-left: 10rem;
}

.m-r-0 {
    margin-right: 0px
}

.m-l-0 {
    margin-left: 0px
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px
}
.user-cards-full .user-profile {
    border-radius: 5px 0 0 5px
}


.bg-c-lite-green {
    background: rgb(1,196,173);
    background:rgb(1,196,173)
}

.user-profile {
    padding: 20px 0
}

.card-block {
    padding: 1.25rem
}
.cards-block {
    padding: 1.25rem
}

.m-b-25 {
    margin-bottom: 25px
}

.img-radius {
    border-radius: 5px;
    width: 10rem;
   
}

h6 {
    font-size: 14px
}

.card .card-block p {
    line-height: 25px
}
.cards .cards-block p {
    line-height: 25px
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px
    }
    
}


.card-block {
    padding: 1.25rem
}
.cards-block {
    padding: 1.25rem
}
.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
    margin-bottom: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.card .card-block p {
    line-height: 25px
}
.cards .cards-block p {
    line-height: 25px
}

.m-b-10 {
    margin-bottom: 10px
}

.text-muted {
    color:grey !important;
    margin-top: -0.7rem;
    
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
    font-weight: 600
}

.m-b-20 {
    margin-bottom: 20px
}

.m-t-40 {
    margin-top: 20px
}
.updte{
    margin-left: -0.5rem;
    width:350%;
}
.p-b-5 {
    padding-bottom: 5px !important
}

.m-b-10 {
    margin-bottom: 10px
}

.m-t-40 {
    margin-top: 20px
}

.user-card-full .social-link li {
    display: inline-block
}
.user-cards-full .social-link li {
    display: inline-block
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}
.user-cards-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

@media only screen and (max-device-width: 480px) {

    .card {
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
        box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
        border: none;
        margin-bottom: 30px;
        margin-top: 5rem;
        width: 22rem;
        margin-left: 10rem;
    }
    .cards {
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
        box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
        border: none;
        margin-bottom: 30px;
        margin-top: 5rem;
        width: 22rem;
        margin-left: 5rem;
    }
    .card-header{
        width: 17rem;
    }
    .card-title-group{
      font-size: 1rem;
        margin-left: 1rem;
    }
    .line{
        height: 3px;
        background-color: black;
        border: none;
        margin-left:10rem;
        
    }
}
@media only screen and (max-device-width: 480px) {
    .updte{
        margin-left: 3rem;
        width: 200%;
    }
}