.wholepage{
    
    margin-left: -24rem;
    margin-top: -4rem;

}
.logos{
    margin-left: 5rem;
    width: 8rem;
    height: 8rem;
}
.links{
    color: rgb(3, 60, 146);
}
@media only screen and (max-device-width: 480px) {
    .sign {
      width: 50%;
      margin-left: 23rem;
    }
    .logos{
        margin-top: 1rem;
        margin-left: 1rem;
        width: 7rem;
        height: 6rem;
    }

  }